@import './shared/fonts.css';
@import './index';

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

.self-typed {
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}